/* Style your widget here */

.vis-owl-parcel-widget {
    position:relative;
    background-color: #222222;
    padding-left: 10px;
}

.vis-owl-parcel-headline {
    position:relative;
    background-color: #3c3d3d;
    text-align: left;
}

.vis-owl-parcel-headline-text {
    color: #ffffff;
    font-size: 20px;
}

.vis-owl-parcel-container {
    background-color: #222222;
    position:relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.vis-owl-parcel {
    position:relative;
    background-color: #adadad;
    width: 95%;
    align-self: center;
    display: flex;
    margin-bottom:.2em;
}

.vis-owl-parcel-firstcol {
    padding: 1px;
    padding-right: 1em;
    width: 10em;
}

.vis-owl-parcel-source {
    position:relative;
    text-align:center;
}
.vis-owl-parcel-source img {
    max-height: 2em;
    max-width: 6em;
}

.vis-owl-parcel-id {
    position:relative;
    color: #292929;
    font-size: .75em;
    text-align:center;
}

.vis-owl-parcel-secondcol {
    padding: 1px;
}

.vis-owl-parcel-name {
    position:relative;
    color: #292929;
    padding-top: .3em;
    padding-bottom: .2em;
    font-weight: bold;
}

.vis-owl-parcel-status {
    position:relative;
    color: #292929;
    font-style: italic;
}

.inDelivery {
    background-color: #a1eccd;
    color: #195721;
}
.DeliveryToday {
    background-color: #e98686;
    color: #50130b;
}

.vis-owl-parcel-sepline {
    z-index: 14;
    width: 740px;
    width: 95%;
    align-self: center;
}

.vis-owl-parcel-noparcel {
    z-index: 14;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering y-axis */
    align-items: center; /* Centering x-axis */
}

.vis-owl-parcel-noparcel-text {
    z-index: 14;
    color: #ffffff;
}